<section id="organizer" class={{ include.class }}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="padding-bottom: 20px;">
                <h2 class="section-heading">Workshop Organizers</h2>
            </div>
        </div>

        {% assign organizers_with_lastname = site.organizers | sort: 'name' %}
        {% assign organizers_with_lastname = organizers_with_lastname | sort_natural: "name" %}

        {% assign sorted_organizers = organizers_with_lastname | sort: "last_name_temp" %}

        {% assign sorted_organizers = site.organizers | sort: "name" %}
        {% capture sorted_array %}
        {% for organizer in sorted_organizers %}
        {% assign name_parts = organizer.name | split: ' ' %}
        {% assign last_name = name_parts | last %}
        {{ last_name }}|{{ organizer.url }}|{{ organizer.name }}
        {% unless forloop.last %},{% endunless %}
        {% endfor %}
        {% endcapture %}
        {% assign sorted_array = sorted_array | split: ',' | sort %}

        <div class="row">
            {% for item in sorted_array %}
            {% assign parts = item | split: '|' %}
            {% assign member = site.organizers | where: "url", parts[1] | first %}
            {% include organizer-member.html %}
            {% endfor %}
        </div>

        <style>
            .image-container {
                width: 160px;
                height: 200px;
                overflow: hidden;
                border-radius: 50%;
            }

            .image-container img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        </style>

    </div>
</section>