<style>
    table,
    th,
    td {
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        font-size: large;
    }

    th {
        background-color: #009879;
        color: #ffffff;
        text-align: center;
    }
</style>
<section id="schedule" class={{include.class}}>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Workshop Final Programme</h2>
                <!--h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3-->
            </div>
        </div>
        <table style="width: 100%">
            <tr>
                <th width="128px" style="text-align: center;">Event Type</th>
                <th width="128px" style="text-align: center;">Time</th>
                <th width="400px">Title</th>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Opening</td>
                <td width="128px" style="text-align: center;">09:00 a.m. - 09:15 a.m.</td>
                <td width="400px"></td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 1</td>
                <td width="128px" style="text-align: center;">09:15 a.m. - 09:45 a.m.</td>
                <td width="400px">Keynote 1: "TBD" (Speaker: Yuning Jiang)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 2</td>
                <td width="128px" style="text-align: center;">09:45 a.m. - 10:15 a.m.</td>
                <td width="400px">Keynote 2: "TBD" (Speaker: Ed Chi)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 3</td>
                <td width="128px" style="text-align: center;">10:15 a.m. - 10:45 a.m.</td>
                <td width="400px">Keynote 3: "TBD" (Speaker: Jiebo Luo)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Coffee Break</td>
                <td width="128px" style="text-align: center;">10:45 a.m. - 11:00 a.m.</td>
                <td width="400px"></td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Paper Oral 1</td>
                <td width="128px" style="text-align: center;">11:00 a.m. - 11:15 a.m.</td>
                <td width="400px">Paper Oral 1: "TBD"</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Paper Oral 2</td>
                <td width="128px" style="text-align: center;">11:15 a.m. - 11:30 a.m.</td>
                <td width="400px">Paper Oral 2: "TBD"</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Paper Oral 3</td>
                <td width="128px" style="text-align: center;">11:30 a.m. - 11:45 a.m.</td>
                <td width="400px">Paper Oral 3: "TBD"</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Lunch Break</td>
                <td width="128px" style="text-align: center;">11:45 a.m. - 01:30 p.m.</td>
                <td width="400px"></td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Poster Session</td>
                <td width="128px" style="text-align: center;">01:30 p.m. - 02:15 p.m.</td>
                <td width="400px"></td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 4</td>
                <td width="128px" style="text-align: center;">02:15 p.m. - 02:45 p.m.</td>
                <td width="400px">Keynote 4: "TBD" (Speaker: Xiangnan He)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 5</td>
                <td width="128px" style="text-align: center;">02:45 p.m. - 03:15 p.m.</td>
                <td width="400px">Keynote 5: "TBD" (Speaker: Rui Li)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 6</td>
                <td width="128px" style="text-align: center;">03:15 p.m. - 03:45 p.m.</td>
                <td width="400px">Keynote 6: "TBD" (Speaker: Zhicheng Zhao)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Keynote 7</td>
                <td width="128px" style="text-align: center;">03:45 p.m. - 04:15 p.m.</td>
                <td width="400px">Keynote 7: "TBD" (Speaker: Wen Chen)</td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Panel Discussion</td>
                <td width="128px" style="text-align: center;">04:15 p.m. - 04:45 p.m.</td>
                <td width="400px"></td>
            </tr>
            <tr>
                <td width="128px" style="text-align: center;">Award Ceremony </br>& Closing</td>
                <td width="128px" style="text-align: center;">04:45 p.m. - 05:00 p.m.</td>
                <td width="400px"></td>
            </tr>
        </table>

    </div>
</section>